@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overscroll-behavior: contain;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(53, 70, 111, 1) 7%,
    rgba(62, 25, 25, 1) 89%
  );
  width: 100%;
  min-height: 100vh;
}
