.mapScreen {
  min-height: 100vh;
  width: 100%;
}

.mapContainer {
  margin: 5vh;
  height: 80vh;
  width: 80vw;
}

.marker {
  background-image: url("../../assets/locationIcon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.addButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2vh;
  z-index: 2;
}

.addButtonImg {
  background-color: rgb(26, 26, 26);
  border-radius: 50%;
  height: 8vh;
}

.loadingMsg {
  color: rgba(255, 255, 255, 0.826);
  margin: auto;
  position: absolute;
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%);
}
