.event {
  color: rgb(70, 70, 70);
  height: 40vh;
  width: 80vw;
  background-color: rgba(255, 255, 255, 0.85);
  margin: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.image {
  height: 80%;
  width: 100%;
  background-size: "cover";
}

.place {
  margin-bottom: 5px;
}

.editButton,
.deleteButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 5px;
  margin: 5px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(57, 170, 85);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editButtonImg {
  height: 50%;
  transform: translateX(3px);
}

.deleteButtonImg {
  height: 70%;
}

.deleteButton {
  margin-top: 70px;
  background-color: rgb(195, 52, 52);
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: 100;
  background-color: transparent;
  color: rgb(245, 245, 245);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 5px;
  margin: 5px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.date {
  border-top-left-radius: 5px;
  text-align: center;
  width: 40%;
  bottom: 0;
  right: 0;
  transform: translateY(-7.5vh);
  position: absolute;
  background-color: rgb(223, 223, 223);
}
